@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p{
    text-indent: 50px;
}
body{
    background: black;
    font-family: 'open_sansregular';
    color: white;
    margin-left: 20px;
}
ul{
    list-style: none;
    height: 65;
    padding: 0px;
}
header{
    display: inline-block;
    height: 90px;
    border-bottom: solid;
    width: 100%;
}
.site-logo{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}
nav{
    display: inline;
    text-align: center;
    position: fixed;
    top: 20px;
    left: 250px;
}
a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h1{
    margin-bottom: 0px;
    text-indent: 20px;
}
p{
    margin-top: 5px;
}
li{
    display: inline-block;
    margin-right: 20px;
}
footer{
    border-top: solid;
    margin-top: 10px;
}
.socialplug{
    max-width: 25%;
    height: auto;
    margin: 20px;
    display: list-item;
}
figure{
    margin: 0;
}
figcaption{
    margin-left: 20px;
    font-size: 15px;
}
h2{
    text-indent: 20px;
}
@media (max-width:800px) {
    .socialplug{
        max-width: 50%;
    }
    .site-logo{
        display: block;
    }
    nav{
        left: 30px;
        top: 65px;
    }
    header{
        padding-bottom: 20px
    }
}